.sidebar {
  margin-top: 2rem;
  padding-left: 2rem;
  width: 25%;

  h2 {
    font-size: 1.8rem;
    font-weight: 700;
  }

  span {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-top: 1rem;
  }
}